@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

body {
	margin: 0;
	height: 100vh;
	font-family: 'Open Sans', sans-serif;
}

.grid-container {
		display: grid;
		grid-gap: 20px;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 100px 1fr 1fr 100px 100px;
		grid-template-areas:
			"pic1			ticker		ticker			ticker"
			"showcase		showcase	showcase		showcase"
			"panel1			panel1		panel2			panel2"
			"social			social		social			social"
			"about	 	 	about		about			about";
		height: 100vh;
		margin: 2em;
}

section.pic1 {
	grid-area: pic1;
	justify-self: start;
	align-self: center;
	z-index: 2;
}

section.ticker {
	grid-area: ticker;
	z-index: 2;
}

section.showcase {
	grid-area: showcase;
	justify-self: center;
	align-self: start;
	text-align: center;
	color: #fff;
	z-index: 2;
}

section.panel1 {
	grid-area: panel1;
	justify-self: center;
	align-self: start;
	z-index: 2;
}

section.panel2 {
	grid-area: panel2;
	justify-self: center;
	align-self: start;
	z-index: 2;
}

section.social {
	grid-area: social;
	justify-self: center;
	align-self: end;
	color: rgb(17,40,60);
	z-index: 2;
}

section.about {
	grid-area: about;
	justify-self: center;
	align-self: start;
	color: rgb(17,40,60);
	z-index: 2;
}
 
 
.img-mantis {
  width: 100px;
  height: 100px;
  /* object-fit: cover; */
  border-radius: 50%;
}

.img-cardano {
  width: 100px;
  height: 100px;
}

.video-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: rgb(17,40,60) url('./img/static_blue_network.png') no-repeat center center/cover;
}


.video-container video {
	min-width: 100%;
	min-height: 100%;
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
}

/* video overlay */
.video-container:after {
	content: '';
	z-index: 1;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
	position: absolute;
}
