@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

body {
	margin: 0;
	height: 100vh;
	font-family: 'Open Sans', sans-serif;
	color: rgb(198,229,231);
	/* background: rgb(17,40,60) url('./img/static_blue_network.png') no-repeat center center/cover; */
	background: rgb(17,40,60);
}

h5 {
	color: #fff; 
}

h6 {
	color: #fff; 
}

th, td {
	border-bottom: 1px solid #ddd;
}

.grid-container {
		display: grid;
		grid-gap: 20px;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 120px 1fr 1fr 1fr 1fr 1fr 100px 100px;
		grid-template-areas:
			"pic1			ticker		ticker			ticker"
			"showcase		showcase	showcase		showcase"
			"news			news		news			news"
			"pool			pool		pool			pool"
			"awards			awards		awards			awards"
			"staking		staking		staking			staking"
			"social			social		social			social"
			"about	 	 	about		about			about";
		height: 100vh;
		margin: 2em;
}

section.pic1 {
	grid-area: pic1;
	justify-self: center;
	align-self: center;
	z-index: 2;
}

section.ticker {
	grid-area: ticker;
	z-index: 2;
}

section.showcase {
	grid-area: showcase;
	text-align: center;
	color: #fff;
	z-index: 2;
}

section.news {
	grid-area: news;
	z-index: 2;
}

section.pool {
	grid-area: pool;
	z-index: 2;
}

section.awards {
	grid-area: awards;
	z-index: 2;
}

section.staking {
	grid-area: staking;
	z-index: 2;
}

section.social {
	grid-area: social;
	justify-self: center;
	align-self: end;
	color: rgb(17,40,60);
	z-index: 2;
}

section.about {
	grid-area: about;
	justify-self: center;
	align-self: start;
	z-index: 2;
}
 
.img-cardano {
  width: 100px;
  height: 100px;
}

.img-mantispool {
	width: 120px;
	height: 120px;
}

.img-award {
	width: 300px;
	height: 380px;
}
